.header{
    display: inline;
}
.right{
    float: right;
}
.user{
    background-color: rgba(11, 8, 236, 0.685);
border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: 29px;
}
.left > a{
    padding: 10px;
}
.right > a{
    padding: 10px;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
height: 55vh;
width: 100%;
}
.google{
margin-top: 300px;
    display: flex;
    width: 300px;
    height: 200px;
    
}

.mid{
    background-color: rgba(0, 0, 0, 0.301);
    height: 32vh;
}

.search1{
    display: flex;
    justify-content: center;
    
}

.search1 > input{
    border: 5px solid rgb(14, 9, 9);
    width: 510px;
    border-radius: 15px;
}
.linkcenter{
    display: flex;
justify-content: center;
padding: 25px;
}


.links{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 10vw;
    border: 2px solid black;
}

.footer{
    background-color: rgba(0, 0, 0, 0.514);
}

.rightfoot>a{
    padding: 10px;
}

.carbon{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
    font-size: larger;
}

.leftfoot{
    float: right;
}
.leftfoot>a{
    padding: 10px;
}